<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shopping</title>
</head>
<body>
	<!-- Hello {{name}}  {{name2}}!	  -->
	
	<ul>
		{% for item in results %}

			<li>{{ item.name }}</li>


		{% endfor %}


	</ul>
		

</body>
</html>